.content-container {
  display: flex;
}

.image-wrapper {
    height: 100px;
    width: 100px;
  border-radius: 50%;
  display: inline-block;
}
.image-wrapper > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: contain;
}