.content-container {
  display: flex;
}

.image-wrapper {
    height: 100px;
    width: 100px;
  border-radius: 50%;
  display: inline-block;
}
.image-wrapper > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: contain;
}

.navbar-dropmenu {
  left: -10px !important;
}

.sidebar-wrapper {
  background-color: rgb(32, 51, 84);
  border-right-style: solid;
  border-color: rgb(32, 51, 84);
  height: calc(100vh - 56px);
  width: 200px;
}